.box{
    width: 100px;
    height: 100px;
    background-color: olive;
    display: inline-block;
}

.first{
    /* transform: translateX(400px);
    transform: translateY(50%); */
    /* transform: translate(100px, 200px); */
    transform: rotate(45deg);
    background-color: orangered;
}

h1{
    transform: rotate(90deg);
    display: inline-block;
    border: 1px solid black;
}